:root {

    --primary: rgb(60, 105, 170);
    --primary_hover: rgb(110, 155, 230);
    --border-color: grey;
    --text-main: black;
    --background: white;
    --background2: rgb(230, 230, 230); ; 
    --border-radius: 0.5rem;
}

* {
    box-sizing: border-box;
}
body {
    background-color: var(--background);
    margin: 0;
}
.navtop {
    background-color: var(--primary);
    height: 60px;
    width: 100%;
    border: 0;
}
.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color:var(--background);
    font-weight: normal;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: var(--text-main);
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div a:hover {
    color: var(--background);
}
.content {
    width: 1000px;
    margin: 0 auto;
}
.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
}

.content input{
    padding: 10px;
    font-size: 14px;
    background: var(--background2);
}

 .read .create {
    display: inline-block;
    text-decoration: none;
    background-color:  var(--primary);
    font-weight: bold;
    font-size: 14px;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 0.5rem;
}
.read .create:hover {
    background-color: var(--primary_hover);
}
.read .pagination {
    display: flex;
    justify-content: flex-end;
}

.read table {
    width: 100%;
    padding-top: 30px;
}
.read table thead {
    background-color: var(--background2);
}
.read table thead td {
    padding: 10px;
    font-weight: bold;
    color: var(--text-main);
    font-size: 14px;
}

.read table tbody tr:nth-child(even) {
    background-color: var(--background2);
}
.read table tbody tr:hover {
    background-color:var(--primary_hover);
}
.read table tbody tr:hover td:nth-child(1),
.read table tbody tr:hover td {
    color: var(--background);
}
.read table tbody tr td {
    padding: 10px;
}
.read table tbody tr td:nth-child(1) {
    color: var(--border-color);
}

/* menu 'classer par */
.MenuD1{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

.MenuD1 ul{
    list-style-type: none;
    background-color: var(--background2);
}

.MenuD1 ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

.MenuD1 ul::after{
    /* content: ""; */
    display: table;
    clear: both;
}

.MenuD1 a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
    width: 80px;
}

.MenuD1 a:hover{
    color: var(--primary_hover);
    /*border-bottom: 2px solid var(--primary_hover);*/
}

.MenuD1 .sous{
    display: none;
    /* box-shadow: 0px 1px 2px #CCC; */
    /* background-color: white; */
    padding: 10px;
    position: absolute;
    width: 120px;
    z-index: 100;
}
.MenuD1 > ul li:hover .sous{
    display: block;
}
.MenuD1 .sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.MenuD1 .sous a{
    padding: 10px;
    border-bottom: none;
}
.MenuD1 .sous a:hover{
    border-bottom: none;
    background-color: RGB(200,200,200);
}
.MenuD1 .deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}


/* fct 'supprimer' */
.trash{
    background-color: var(--primary);
    padding: 3px 15px;
    border-radius: 0.5rem;
}
.trash:hover{
    background-color: var(--primary_hover);
}
.btn_delete{
    background-color: var(--background);
    width: 140px;
}
.trash a{
    text-decoration: none;
    color: var(--text-main);
    
}

